.DS_Store
Library
Logs
obj
Temp
*.csproj
*.sln

.idea/.idea.GPUDrivenTerrainLearn111/.idea
UserSettings/Layouts
Assets/GPUDrivenTerrain/Patch/Patch.bytes
Assets/GPUDrivenTerrain/Patch/Patch.bytes.meta
Assets/GPUDrivenTerrain/Patch/PatchNew.bytes
Assets/GPUDrivenTerrain/Patch/PatchNew.bytes.meta
